<div class="section">
<div class="sectiontitle">Technical Details for Normal Operation</div>



<div class="tech">
<!-- Analysis List-->
#foreach($analysis in $display.operationData.analyses)
    <div class="techtitle" align="center">$analysis</div>
#end
<div class="techstatline" align="center"><b>Operation:</b> $display.operationData.operationName</div>
<div class="techstatline" align="center"><b>Location:</b> $display.operationData.agentDescription</div>
<hr size="1" width="80%">
<table class="tech" align="center">
<tbody>
<tr class="tech">
<td colspan="2" class="statheader">Executions</td>
<td class="tech" width="1000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td colspan="2" class="statheader">Run Time (avg)</tr>
<tr class="tech">
<td class="techdata" align="right" nowrap="nowrap">$display.analysisData.normalOperations</td>
<td class="techprompt" align="left" nowrap="nowrap"> &nbsp;OK</td>
<td class="tech" width="1000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class="techdata" align="right" nowrap="nowrap">$display.analysisData.normalOperationsAverageTime</td>
<td class="techprompt" align="left" nowrap="nowrap">for OK</td></tr>
<tr class="tech">
<td class="techdata" align="right" nowrap="nowrap">$display.analysisData.slowOperations</td>
<td class="techprompt" align="left" nowrap="nowrap"> &nbsp;SLOW</td>
<td class="tech" width="1000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class="techdata" align="right" nowrap="nowrap">$display.analysisData.slowOperationsAverageTime</td>
<td class="techprompt" align="left" nowrap="nowrap">for SLOW</td>
</tr>
<tr class="tech"><td class="techdata" align="right" nowrap="nowrap">$display.analysisData.failingOperations</td>
<td class="techprompt" align="left" nowrap="nowrap"> &nbsp;FAILING</td>
<td class="tech" width="1000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
<td class="techdata" align="right" nowrap="nowrap">$display.analysisData.failingOperationsAverageTime</td>
<td class="techprompt" align="left" nowrap="nowrap">for FAILING</td>
</tr>
</tbody>
</table>
</div>

#parse($display.timeSpentPanel)

<!-- LIST THE PROBLEMS -->
#foreach($problemItem in $display.problems)
#if($problemItem.visible)
<div class="problemtype">
<table>
<tbody>
<tr>
<!-- TODO: fix the image selection -->
<td><img src="images/$problemItem.problemTypeIcon"></td>
<td><div class="probtypehdr">$problemItem.problemTypeName</div>
</td>
</tr>
</tbody>
</table>
&nbsp;<br>
<div class="probtypeinfo">$problemItem.problemTypeInfo</div>
<br>
#foreach($eventItem in $problemItem.events)
<div class="probinfo">$eventItem.failure.call.descriptor</div>
<br>
<div class="table">
#set( $simpleCounter = $simpleCounter + 1 )
<a onclick="javascript:showDetails('normalstacktrace-$simpleCounter',2)"><img id="image-normalstacktrace-$simpleCounter" src="images/more-detail16.jpg"></a>
<table class="normalstacktrace" id="normalstacktrace-$simpleCounter" border="1" cellpadding="4" cellspacing="1">
<tbody>
<tr class="stacktrace">
<th class="stacktrace">Class</th>
<th class="stacktrace">Method</th>
<th class="stacktrace">Line</th>
</tr>
#foreach($frame in $eventItem.failure.threadState.stackTrace)
#if($velocityCount > 3)
<tr style="display:none;" class="stacktrace">			    
#else
<tr class="stacktrace">
#end
<td class="stacktrace">$frame.className</td>
<td class="stacktrace">$frame.methodName</td>
<td class="stacktrace">$frame.lineNumber</td>
</tr>
#end
</tbody>
</table>
</div>
</div>
#end
#end
</div>
<hr size="1" width="97%">
#end