

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/topbg_innershort.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

bodyShort {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/topbg_innershort.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

#hdr {
	margin: 0px;
	padding: 0px;
}
#hdr h1 {
	padding: 0px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 14px;
	margin-left: 17px;
}
#hdr h1 a {
	height: 50px;
	width: 195px;
	text-indent: -9999pt;
	display: block;
	text-decoration: none;
	background-image: url(../images/logo_wtm.gif);
	background-repeat: no-repeat;
}
#contentleft {
	width: 490px;
	font-size: 12px;
	line-height: 17px;
	color: #447385;
	margin: 15px 0px 15px 15px;
	padding: 0px;
}
#contentleft h1.home {
	background-image: url(../images/pagetitle_homepage.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h2 {
	margin: 5px 5px 10px;
	padding: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height:17pt;
	font-size: 150%;
}
#contentleft h1.home {
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.products {
	background-image: url(../images/pagetitle_products.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.company {
	background-image: url(../images/pagetitle_company.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.contactus {
	background-image: url(../images/pagetitle_contactus.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.download {
	background-image: url(../images/pagetitle_download.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.privacy {
	background-image: url(../images/pagetitle_privacy.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.registration {
	background-image: url(../images/pagetitle_registration.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft h1.shbasket {
	background-image: url(../images/pagetitle_shbasket.gif);
	text-indent: -9999pt;
	background-repeat: no-repeat;
	margin: 0px 0px 10px;
	padding: 0px;
}
#contentleft p {
	margin: 0px 0px 10px;
	padding: 0px;
}
#purchasebox {
	height: 80px;
	width: 237px;
	background-image: url(../images/bila_albastra.gif);
	background-repeat: no-repeat;
	margin: 20px;
	padding: 0px;
	font-size: 10px;
	color: #447385;
}
#purchasebox a.bila {
	font-family: Tahoma, "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 16px 15px;
	width: 38px;
	text-align: center;
	text-decoration: none;
	float: left;
}
#purchasebox a.bila:hover {
	background-image: url(../images/bila_albastra_.gif);
	background-repeat: no-repeat;
}
#purchasebox a.normal {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FF0000;
}
#purchasebox a:hover {
	text-decoration: underline;
}
#purchasebox p {
	margin: 0px;
	padding: 10px;
	line-height: 15px;
}

#bannerbox {
	height: 169px;
	width: 234px;
	background-image: url(../images/banner_combo.gif);
	background-repeat: no-repeat;
	margin: 20px;
	padding: 0px;
	font-size: 10px;
	color: #447385;
}
#bannerbox a.bila {
	font-family: Tahoma, "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 16px 15px;
	height: 145px;
	width: 234px;
	text-align: center;
	text-decoration: none;
	float: left;
}
#bannerbox a.bila:hover {
	background-image: url(../images/banner_combo.gif);
	background-repeat: no-repeat;
}
#bannerbox a.normal {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FF6600;
}
#bannerbox a:hover {
	text-decoration: underline;
}
#bannerbox p {
	margin: 0px;
	padding: 10px;
	line-height: 15px;
}




#demobox {
	height: 80px;
	width: 237px;
	background-image: url(../images/bila_orange.gif);
	background-repeat: no-repeat;
	margin: 20px;
	padding: 0px;
	font-size: 10px;
	color: #447385;
}
#demobox a.bila {
	font-family: Tahoma, "Trebuchet MS";
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	display: block;
	margin: 0px 10px 0px 0px;
	padding: 16px 15px;
	width: 38px;
	text-align: center;
	text-decoration: none;
	float: left;
}
#demobox a.bila:hover {
	background-image: url(../images/bila_orange_.gif);
	background-repeat: no-repeat;
}
#demobox a.normal {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FF0000;
}
#demobox a:hover {
	text-decoration: underline;
}
#demobox p {
	margin: 0px;
	padding: 10px;
	line-height: 15px;
}

#newsbox {
	background-image: url(../images/newsbox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#newsbox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#newsbox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#newsbox p a:hover {
	background-image: url(../images/newsbox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}
#contentleft h3 {
	font-size: 120%;
	color: #FF0000;
}
#contentleft h3.product {
	font-size: 120%;
	color: #FF0000;
	background-image: url(../images/h3bg_right.gif);
	background-repeat: no-repeat;
	background-color: #EAF4F7;
	background-position: right top;
	padding: 3px;
	width: auto;
}
#footer {
	background-color: #F1F8FA;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #B2B2B2;
}
#footer p {
	font-size: 10px;
	color: #447385;
	margin: 0px;
	padding: 10px 10px 10px 15px;
}
#footer a {
	color: #006890;
}
#footer a:hover {
	color: #003366;
}
#breadcrumbs {
	margin: 0px;
	padding: 40px 0px 0px 10px;
}
#breadcrumbs h1 {
	font-size: 150%;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}
#breadcrumbs p {
	font-size: 11px;
	color: #CADFE8;
	margin: 0px 0px 0px 2px;
	padding: 0px;
}
#breadcrumbs a {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #83B3C5;
	color: #FFFFFF;
	text-decoration: none;
}
#breadcrumbs a:hover {
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
}
#contentleft a {
	color: #FF0000;
}
#contentleft a:hover {
	color: #CC0000;
	text-decoration: none;
}
.editbox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006890;
	border: 1px inset;
	padding: 2px;
}
.button {
	color: #FFFFFF;
	background-color: #447385;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px outset;
	font-weight: bold;
	padding: 2px;
}
#contactbox {
	background-image: url(../images/contactbox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	width: 237px;
}
#contactbox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#contactbox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#contactbox p a:hover {
	background-image: url(../images/contactbox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}
#forumlinks {
	margin: 40px 20px 20px 10px;
	padding: 0px;
	width: 230px;
	font-size: 11px;
	background-color: #EFF7F9;
	border: 1px solid #D2E4EB;
}
#forumlinks h2 {
	font-size: 140%;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px;
	background-color: #006890;
}
#forumlinks h3 {
	margin: 10px;
	padding: 0px;
	font-size: 115%;
}
#forumlinks p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #447385;
	line-height: 16px;
}
#forumlinks a {
	color: #FF3300;
}
#forumlinks a:visited {
	color: #FF572D;
	text-decoration: none;
}
#forumlinks a:hover {
	color: #D02E05;
	text-decoration: underline;
}
#forumlinks p.links {
	font-size: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C1DBE4;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
#nest {
	position: static;
	float: right;
	width: 200px;
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #FFFFFF;
	margin-top: 25px;
	background-color: #FFFFFF;
}
#peopleevents {
	background-image: url(../images/hdr_peopleevents.gif);
	background-repeat: no-repeat;
	margin: 0px;
	padding: 35px 0px 0px;
	font-size: 10px;
	line-height: 16px;
	border: 1px solid #DDE8ED;
}
#peopleevents ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#peopleevents a {
	font-size: 12px;
	font-weight: bold;
}
#peopleevents a.small {
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	background-image: url(../images/more_bg.gif);
	background-repeat: no-repeat;
	padding: 0px 1px 1px;
	color: #275268;
	display: block;
	text-decoration: none;
	background-position: right;
}
#peopleevents img {
	margin-right: 10px;
	margin-bottom: 10px;
}
#peopleevents li {
	margin: 10px;
	padding: 0px;
}
#peopleevents li.ends {
	margin: 10px 0px 0px;
	padding: 0px;
}
#technology {
	background-image: url(../images/hdr_technology.gif);
	background-repeat: no-repeat;
	margin: 15px 0px 0px;
	padding: 35px 0px 0px;
	font-size: 10px;
	line-height: 16px;
	border: 1px solid #DDE8ED;
}
#technology ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#technology a {
	font-size: 12px;
	font-weight: bold;
}
#technology a.small {
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	background-image: url(../images/more_bg.gif);
	background-repeat: no-repeat;
	padding: 0px 1px 1px;
	color: #275268;
	display: block;
	text-decoration: none;
	background-position: right;
}
#technology img {
	margin-right: 10px;
	margin-bottom: 10px;
}
#technology li {
	margin: 10px;
	padding: 0px;
}
#technology li.ends {
	margin: 10px 0px 0px;
	padding: 0px;
}
#download {
	background-image: url(../images/hdr_download.gif);
	background-repeat: no-repeat;
	margin: 15px 0px 0px;
	padding: 35px 0px 0px;
	font-size: 10px;
	line-height: 16px;
	border: 1px solid #DDE8ED;
}
#download ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#download a {
	font-size: 11px;
	font-weight: bold;
}
#download a.small {
	font-size: 10px;
	font-weight: normal;
	text-align: right;
	background-image: url(../images/more_bg.gif);
	background-repeat: no-repeat;
	padding: 0px 1px 1px;
	color: #275268;
	display: block;
	text-decoration: none;
	background-position: right;
}
#download img {
	margin-right: 10px;
	margin-bottom: 10px;
}
#download li {
	margin: 5px 10px;
	padding: 0px;
}
#download li.ends {
	margin: 10px 0px 0px;
	padding: 0px;
}

#bluebox {
	margin: 15px 20px 20px 10px;
	padding: 0px;
	width: 230px;
	font-size: 11px;
	background-color: #EFF7F9;
	border: 1px solid #D2E4EB;
}
#bluebox h3 {
	margin: 10px;
	padding: 0px;
	font-size: 115%;
	color: #006890;
}
#bluebox p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	color: #447385;
	line-height: 16px;
}
#bluebox a {
	color: #FF3300;
}
#bluebox a:hover {
	color: #D02E05;
	text-decoration: underline;
}
#osbox {
	background-image: url(../images/opensourcebox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#osbox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#osbox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#osbox p a:hover {
	background-image: url(../images/opensourcebox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}

#contactusbox {
	background-image: url(../images/contactbox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#contactusbox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#contactusbox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#contactusbox p a:hover {
	background-image: url(../images/contactbox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}


#communitybox {
	background-image: url(../images/communitybox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#communitybox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#communitybox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#communitybox p a:hover {
	background-image: url(../images/communitybox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}

#troubleshooterbox {
	background-image: url(../images/forumsbox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#troubleshooterbox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#troubleshooterbox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#troubleshooterbox p a:hover {
	background-image: url(../images/forumsbox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}


#contentleft ul.buttons {
	list-style-type: none;
	padding: 30px 0px 0px;
	margin: 0px;
	width: 480px;
	height: 40px;
	text-align: center;
	background-repeat: no-repeat;
}
#contentleft ul.buttons li {
	margin-bottom: 15px;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 0px;
}
#contentleft ul.buttons li a {
	border: none;
	color: #FF0000;
	text-decoration: none;
	background-image: url(../images/bula_bg.gif);
	width: 69px;
	text-align: center;
	font-weight: bold;
	background-repeat: no-repeat;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 18px;
}
#contentleft ul.buttons li a:hover {
	display: block;
	border: none;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/bula_bg_.gif);
	width: 69px;
	text-align: center;
	font-weight: bold;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 18px;
}


#contentleft ul.howhelp {
	list-style-type: none;
	padding: 30px 0px 0px;
	margin: 0px;
	width: 480px;
	height: 40px;
	text-align: center;
	background-image: url(../images/howhelp.gif);
	background-repeat: no-repeat;
}
#contentleft ul.howhelp li {
	margin-bottom: 15px;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-left: 0px;
}
#contentleft ul.howhelp li a {
	border: none;
	color: #FF0000;
	text-decoration: none;
	background-image: url(../images/bula_bg.gif);
	width: 69px;
	text-align: center;
	font-weight: bold;
	background-repeat: no-repeat;
	display: block;
	margin: 0px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 18px;
}
#contentleft ul.howhelp li a:hover {
	display: block;
	border: none;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/bula_bg_.gif);
	width: 69px;
	text-align: center;
	font-weight: bold;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 12px;
	padding-left: 18px;
}

#no {
	margin: 0px 0px 20px;
	padding: 0px 0px 0px 20px;
}
#no ul {
	font-size: 15px;
	color: #D9E7EC;
	list-style-type: none;
	margin: 0px 20px 0px 0px;
	padding: 10px;
	line-height: 28px;
	background-color: #046A92;
	background-image: url(../images/nobg.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	border: none;
}
#no li {
	background-image: url(../images/checkmark.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	padding-left: 20px;
}
#no strong {
	color: #FFFFFF;
}

#forumbox {
	background-image: url(../images/forumsbox_bg.gif);
	background-repeat: no-repeat;
	padding: 0px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
#forumbox p {
	font-size: 10px;
	color: #447385;
	line-height: 15px;
}
#forumbox p a {
	text-decoration: none;
	margin: 0px;
	padding-top: 30px;
	padding-right: 50px;
	padding-bottom: 9px;
	padding-left: 13px;
	display: block;
	color: #447385;
}
#forumbox p a:hover {
	background-image: url(../images/forumsbox_bg_.gif);
	background-repeat: no-repeat;
	color: #6591A2;
}
