		<div class="table">
		#set( $simpleCounter = $simpleCounter + 1 )
		<a onclick="javascript:showDetails('stacktrace-$simpleCounter', 2);"><img id="image-stacktrace-$simpleCounter" src="images/more-detail16.jpg"></a>
		<table class="stacktrace" id="stacktrace-$simpleCounter" border="1" cellpadding="4" cellspacing="1" width="95%" ALIGN="center">
		    <tbody>
		        <tr class="stacktrace">
			    <th class="stacktrace">Class</th>
			    <th class="stacktrace">Method</th>
			    <th class="stacktrace">Line</th>
			</tr>
			#foreach($frame in $problemItem.stackTrace)
                            #if($velocityCount > 3)
			    <tr style="display:none;">			    
			    #else
			    <tr class="stacktrace">
			    #end
			        <td class="stacktrace">$frame.className</td>
			        <td class="stacktrace">$frame.methodName</td>
			        <td class="stacktrace">$display.formatStackTraceLine($frame.lineNumber)</td>
			    </tr>
			#end
		    </tbody>
		</table>	        
	  </div>