<div class="header">
    <div class="headertitle" align="center">
        #if($display.operationData.status == "FAILING")
                <font color="#ff0000" >$display.operationData.status OPERATION: $display.operationData.operationShortName</font>
        #elseif($$display.operationData.status == "SLOW")
                <font color="#CC7700" >$display.operationData.status OPERATION: $display.operationData.operationShortName</font>
        #else
                <font color="#000000" >$display.operationData.status OPERATION: $display.operationData.operationShortName</font>
        #end
    </div>
    <hr size="1" width="40%">
      #set($coreProblems=$display.coreProblems)
      #if($coreProblems.size() == 0)
         #foreach($ok in $display.operationData.analyses)
          <div class="headersubtitle2" align="center">Cause: $ok</div>
         #end
      #elseif($coreProblems.size() == 1)
         #foreach($problem in $coreProblems)
	        		<div class="headersubtitle2" align="center">Cause: $problem.verdict</div>
         #end
      #else
         <div class="headersubtitle2" align="center">Causes:</div>
         <!-- Analysis List-->
         #foreach($problem in $coreProblems)
           <div class="headersubtitle" align="center">$problem.verdict</div>
         #end
      #end

    <hr size="1" width="80%">
    <div class="headerstatline" align="center">Operation ran $display.operationData.executions time(s) since $display.analysisData.monitoringStartTimeAsDate</div>
    <table class="header" align="center">
    <tbody>
        <tr class="header">
	    <td class="headerdata" colspan="2" align="left" nowrap="nowrap">$display.analysisData.operationStatus</td>
	        <td class="header" width="1000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		<td class="headerdata" align="right" nowrap="nowrap">Avg. Execution Time Overall: </td>
		<td class="headerdata" align="left" nowrap="nowrap">$display.operationData.averageExecutionTime</td>
	</tr>
	<tr class="header">
	    <td class="headerdata" colspan="2" align="left" nowrap="nowrap">Exceeded $display.analysisData.slowThresholdSecondsLongFormat goal $display.analysisData.slowOperations time(s) ($display.analysisData.slowOperationsPercentage%)</td>
	    <td class="header" width="1000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	    <td class="headerdata" align="right" nowrap="nowrap">Avg. Execution Time While Slow: </td>
	    <td class="headerdata" align="left" nowrap="nowrap">$display.analysisData.slowOperationsAverageTime</td>
        </tr>
     </tbody>
     </table>
</div>