<div class="section">
<div class="sectiontitle">Technical Summary</div>


#set($coreProblems=$display.coreProblems)
## if there are 0 problems, then we need to report OK performance.
#if($coreProblems.size() == 0)
#set($problemItem = "ok.performance")
<div class="summary"><div class="summaryemph">
<table>
<tbody>
<tr>
<td><img src="images/ok-checkmark-32x32.jpg">
</td>
<td>
<div class="summaryemphtxt">This operation met performance goals.</div>
</td>
</tr>
</tbody>
</table>
&nbsp;<br>
</div>

#elseif ($coreProblems.size() == 1) 

#foreach($problemItem in $coreProblems)
<div class="summary"><div class="summaryemph">
<table>
<tbody>
<tr>
<td><img src="images/$problemItem.problemTypeIcon">
</td>
<td>
<div class="summaryemphtxt">$problemItem.problemSummary</div>
</td>
</tr>
</tbody>
</table>
&nbsp;<br>
</div>
#end

#else
## Generally we want to iterate and show the problem types.  Slow Method is a fallback,
## so unless it's the only problem we have, we don't want to show it in the summary.
## Also, only show ONE summary per problem type: relies on the problems being sorted so the same types appear consecutively
#foreach($problemItem in $coreProblems)
<div class="summary"><div class="summaryemph">
<table>
<tbody>
<tr>
<td><img src="images/$problemItem.problemTypeIcon">
</td>
<td>
<div class="summaryemphtxt">$problemItem.problemTypeName: $problemItem.problemSummary</div>
</td>
</tr>
</tbody>
</table>
&nbsp;<br>
</div>

#end
#end

</div>
</div>